<cfclient>
<cfset a = new webservice()>
<cfset var1="#a.getCommodities()#"></br></br>
<cfset var2= #a.getVertexFromNFC("7ddba72c")#>
<cfif var2 gt 0>
	<cfoutput>#var2#</cfoutput>
	<cfelse>
	no
</cfif>
</cfclient>