body {
	font-family: 'PT Serif Caption', serif;
}

.mainLayoutContainer {
	width:370px; 
	height:400px; 
}

.selectItemContainerClass {
	visibility:hidden;
}

.Rack {
	content:url("../images/Rack.png");
	width:130px;
	height:28px;
}

.HorizontalContainer-Rack {
	height:28px; 
	overflow:visible;
}

.HorizontalContainer-leftLine {
	margin-left:15px; 
	margin-right:10px;
	visibility:hidden;
	content:url("../images/Vline.png");
	height:28px;
	width:5px;
}

.HorizontalContainer-centerLine {
	margin-left:15px; 
	margin-right:14px;
	visibility:hidden;
	content:url("../images/Vline.png");
	height:28px;
	width:5px;
}

.HorizontalContainer-rightLine {
	margin-left:10px; 
	margin-right:15px;
	visibility:hidden;
	content:url("../images/Vline.png");
	height:28px;
	width:5px;
}

.HorizontalContainer-partition {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height:17px; 
	padding-top:0px;
	padding-bottom:6px;
}
.HorizontalContainer-horizontalLeft{
   text-align:center;
   padding-left:15px;
   height:5px;
   width:168px;
   visibility:hidden;
   content:url("../images/Hline.png");
}

.HorizontalContainer-horizontalRight{
   text-align:center;
   padding-right:15px;
   height:5px;
   width:168px;
   visibility:hidden;
   content:url("../images/Hline.png");
}

.outerContent{
	padding:15px;
}

.overriddenContainer {
	padding:0px;
}

.leftRack {
	position:relative;
	left:30px;
	top:28px;
}